@charset "UTF-8";
/*en géneral on import les utilitaire d abord 
puis les tiers,
les base
composant
layout
pages
theme*/
/*
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
*/
/*@charset 'utf-8';*/
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

/*-----------------------------------------------*/
/* */
.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /*contruction help*/
  max-width: 600px;
}

/* font*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.button {
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  border: none;
  padding: 5px 10px 5px 10px;
  height: 30px;
  width: 50%;
  background: #FF79DA;
  color: white;
}

.research__field {
  background-color: #eaeaea;
  height: 50px;
  width: 100%;
}
.research__field input {
  border: none;
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 4px #dbdbdb inset;
  text-align: center;
  background-color: inherit;
}

.card {
  border-radius: 16px 16px 16px 16px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}
.card__link {
  display: flex;
  flex-direction: column;
}
.card__image {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  height: 175px;
  object-fit: cover;
}
.card__body {
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card__favory {
  display: flex;
  align-items: center;
  font-size: larger;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  width: 100%;
}

.section {
  width: 100%;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.section--research {
  width: 100%;
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  text-align: center;
}

.section--restaurant {
  width: 100%;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  text-align: center;
}

.how-to {
  /* on initialise et nomme un compteur */
}
.how-to__title {
  font-size: medium;
}
.how-to__list {
  list-style-type: none;
}
.how-to__step {
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 4px #dbdbdb;
  font-size: 12px;
  font-weight: bold;
}
.how-to__step i {
  color: #7d7d7d;
  margin-left: 10px;
  margin-right: 10px;
}
.how-to ol {
  counter-reset: steps;
}
.how-to ol li {
  list-style-type: none;
  counter-increment: steps; /* on incrémente le compteur à chaque nouveau li */
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.how-to ol li:before {
  content: counter(steps); /* on affiche le compteur */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  margin-right: 8px;
  margin-left: -10px;
  background: #9356DC;
  border-radius: 7.5px;
  color: white;
}

.research__field {
  background-color: #eaeaea;
  height: 50px;
  width: 100%;
}
.research__field input {
  border: none;
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 4px #dbdbdb inset;
  text-align: center;
  background-color: inherit;
}

.footer .footer-info {
  color: white;
}
.footer .footer-info__title {
  font-size: 16px;
  font-weight: normal;
}

.footer__container {
  width: 100%;
  padding: 10px 20px 10px 20px;
  background-color: #3d3d3d;
}

/*# sourceMappingURL=expandedstyle.css.map */
