.page-display{
     position: absolute;
    overflow: hidden;
    opacity: 0;
    
    animation: page-display 0s $page-disp-delay forwards;
}

.loading-spinner{

     $diameter: 70px; //set the diameter of the loader,
     $thickness: 82.5%; //set the thickness or "inner diameter" of the loader,    
     //more is less thick
     position: relative;
     margin-top: 25%;
     width: $diameter;
     height: $diameter;
     border-radius: 10rem;
     border: 3px solid white;
     
     background: linear-gradient($primary-color, $secondary-color, $primary-color);
     box-shadow: 0px 0px 100px -50px black;
     
     animation: loader $loader-duration $loader-delay cubic-bezier(0.3, 0.3, 1, 1) $time-repeat;

     //display: none;
     opacity: 0;
   
     &:before {
       
       position: absolute;
     content: "";
     background: #fff;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: $thickness;
     height: $thickness;
     border-radius: 10rem;
     border: 3px solid white;
     box-shadow: inset 0px 0px 100px -70px 
     }
}


@keyframes loader {
     0%{
          transform: rotate(0deg);
          opacity: 0;         
     }
     25%{
          opacity: 1; 
     }
     50%{
          transform: rotate(360deg);    
                  
     }
     75%{
          opacity: 1;
     }
     100%{
          transform: rotate(0deg);
          opacity: 0; 
     }
}


@keyframes page-display{
     0% {
         //transform: translateX(-9999px);
         //scale:0;
         opacity: 0;
     }
     100% {
         //transform: translateX(0);
         
        // scale:1;
        opacity: 1;
     }
 }

 /*---------------------------------------------------------------*/
 
.check-animation{

     .main-container{
          //display: none;
          //sert a cacher l' element avant le lancement de l' animation
          //enfait pas necessaire a priory
          height: 77px;
          width: 80px;
          border-radius: 0px 16px 16px 0px;    
          
          background: linear-gradient(to right, white 50%, $tersiary-color 50%);
          background-size: 200% 100%;

          display: flex;
          align-items: center;
          justify-content: center;
     
          overflow: hidden;
          
          animation: main_container_rev $check-anim__duration $check-anim__delay linear reverse both;
          .check-container{
               height: 30px;
               width: 30px;
               animation: check_container_rev $check-anim__duration $check-anim__delay linear reverse forwards;
               
               i {
               
               color: $tersiary-color;
               background-color: white;                  
              
               display: flex;
               align-items: center;
               justify-content: center;
     
               border-radius: 15px;
               height: 30px;
               width: 30px;

               animation: check_rev  $check-anim__duration $check-anim__delay linear reverse forwards ;
               }
          }
     }



     &:hover{
          & >.main-container{
              
              
             
               animation: main_container $check-anim__duration $check-anim__delay linear both;
               .check-container{
                    animation: check_container $check-anim__duration $check-anim__delay linear forwards;   
                    i{
                         
                         animation: check  $check-anim__duration $check-anim__delay linear forwards ;
                    }
               }        
              //animation: name duration timing-function delay iteration-count direction fill-mode;
            
          }
     }
}

@keyframes main_container {
     
     0% {
          background-position: left;
     }     
     100% {background-position: right;}
}
@keyframes check_container {
     
     0% {
          
          transform: translateX(200%);
     }     
     100% {
          
          transform: translateX(0%);
     }
}
@keyframes check {    
     
     0% {
          
          transform:  rotate(90deg) ;
     }  
     100% {
          
          transform: rotate(360deg) ;
     }
}
@keyframes text {    
     
     0% {
          
          transform: translateX(0%); ;
     }  
     100% {
          
          transform: translateX(-300%); ;
     }
}
//reverse
@keyframes main_container_rev {     
     
     0% {
          
          background-position: left;
     }     
     100% {
          
          background-position: right;
     }
}
@keyframes check_container_rev {
     
     0% {
          
          transform: translateX(200%);
     }     
     100% {
          
          transform: translateX(0%);
     }
}
@keyframes check_rev {    
     
     0% {
          
          transform:  rotate(90deg) ;
     }  
     100% {
          
          transform: rotate(360deg) ;
     }
}
@keyframes text_rev {    
     
     0% {
          
          transform: translateX(0%); ;
     }  
     100% {
          
          transform: translateX(-300%); ;
     }
}

//-----test
.chk-anim{

     &__container{
          //display: flex;
          //flex-direction: row;
         // align-items: flex-end;
         display: block;
         position: relative;
          
          
          .text-translate{               
               position: absolute;
               bottom: 5px;
               right: 5px;    
               animation: text_rev $check-anim__duration $check-anim__delay linear reverse forwards;              
          }
          
     
     .background-translate{ 
                 
          height: 77px;
          width: 80px;
          border-radius: 0px 16px 16px 0px;    
          
          background: linear-gradient(to right, white 50%, $tersiary-color 50%);
          background-size: 200% 100%;

          display: flex;
          align-items: center;
          justify-content: center;
     
          overflow: hidden;
          
          animation: main_container_rev $check-anim__duration $check-anim__delay linear reverse both;
          .chk-translate{
               height: 30px;
               width: 30px;
               animation: check_container_rev $check-anim__duration $check-anim__delay linear reverse forwards;
               
               i {
               
               color: $tersiary-color;
               background-color: white;                  
              
               display: flex;
               align-items: center;
               justify-content: center;
     
               border-radius: 15px;
               height: 30px;
               width: 30px;

               animation: check_rev  $check-anim__duration $check-anim__delay linear reverse forwards ;
               }
          }
     }
}


     
     &:hover .chk-anim__container{

          .text-translate{
               animation: text $check-anim__duration $check-anim__delay linear forwards;
               }
          
          .background-translate{

               
             
               animation: main_container $check-anim__duration $check-anim__delay linear both;
               .chk-translate{
                    animation: check_container $check-anim__duration $check-anim__delay linear forwards;   
                    i{
                         
                         animation: check  $check-anim__duration $check-anim__delay linear forwards ;
                    }
               }        
              //animation: name duration timing-function delay iteration-count direction fill-mode;
            
          }
     }  

}