* {
     box-sizing: border-box;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     font-kerning: auto;
     margin: 0;
     padding: 0;}

html {-webkit-text-size-adjust: 100%;} 


/*-----------------------------------------------*/     
/* */
.main_container{
     width: 100%;
     display:flex;
     justify-content: center;
}

.wrapper{
     width: 100%;    
     
     display:flex;     
     align-items:flex-start;
     flex-direction: column;

     /*contruction help*/
     max-width: 600px;
}   


