

$purple:#9356DC;
$pink:#FF79DA;
$mint:#99E2D0;
$grey:#f4f4f4;
$grey_dark:#3d3d3d;

$white:white;

//main site color
$primary-color: $purple;
$secondary-color: $pink;
$tersiary-color: $mint;
// hsl(hue, saturation, lightness)