

$purple:#9356DC;
$pink:#FF79DA;
$mint:#99E2D0;
$grey:#f4f4f4;
$grey_dark:#3d3d3d;

$white:white;

//main site color
$primary-color: $purple;
$secondary-color: $pink;
$tersiary-color: $mint;
// hsl(hue, saturation, lightness)

//animation  duration set
//loader
$custom-delay: 250ms;
$loader-duration: 3s;
$loader-delay: 250ms;
$time-repeat: 1;
$page-disp-delay: $custom-delay + $loader-duration + ($loader-delay*$time-repeat ) ;
$page-disp-delay-test: 3s;

//check order animation
$check-anim__duration: 350ms;
$check-anim__delay: 0s; //si aps a 0 sa fous la merde pasque l icone pope avant l anime
//et faudrais tout remetre les display dans l anim

//menut aparition animation
$menu-section_duration: 0.5s;
$menu-section_delay: 0.250s;
$menu-section_delay-mod: -350ms;

$menu-child_duration: 500ms ;
$menu-firstchild_delay: -350ms + $menu-section_delay + $menu-section_duration;
$menu-firstchild_delay-mod: -350ms;
$menu-child_delay:400ms ;


//faudrai un peu remetre les nom au propre



