.footer{         
     
     .footer-info{
          color: $white;  
          &__title{
               font-size: 16px;
               font-weight: normal;
          }
     }


}

.footer__container{
     width: 100%;
     padding: 10px 20px 10px 20px ;
     background-color:$grey_dark;
   
     
}

