.footer{         
     padding-bottom: 30px;
     .footer-info{
          color: $white;  
          &__title{
               font-size: 18px;
               font-weight: normal;
               margin-bottom: 20px;
          }
          &__link{
               margin: 10px 0px 10px 0px;
               &-ico{
                    margin-right: 10px;
                    font-size: 12px;
               }
          .fa-rotate-by {
               --fa-rotate-angle: -45deg;
          } 

          }
     }


}

.footer__container{
     width: 100%;     
     background-color:$grey_dark;
     display: flex;
     justify-content: center;
     .footer{
          width: 100%;
          max-width: 1200px;

          padding: 30px 20px 50px 20px ;
          //margin: 0;
     }
   
     
}

