.research__field{     
     background-color: darken($grey , $amount: 4);
     height: 50px;
     width: 100%;
     
     p{
          display: flex;
          justify-content: center;
          align-items: center;

          padding: 0px;
          width: 100%;
          height: 100%;
          box-shadow: 0px 2px 4px darken($color: $grey, $amount: 10) inset;
          text-align: center;
          
          
          font-weight: 700;
          font-size: 16px;
     }
     /*          
     input{
          border: none;
          width: 100%;
          height: 100%;
          box-shadow: 0px 2px 4px darken($color: $grey, $amount: 10) inset;
          text-align: center;
          
          background-color: inherit;      
          &[value="&#xf3c5;   Paris, Bellville"]{
               color: red;
          }
          
     }
     */
}