.header{
     display: flex;
     justify-content: center; 
     align-items: center;    
     padding:  0px 0px 0px 0px;
     width: 100%;
     @include respond(medium) {
          justify-content: flex-end;          
          padding-right: 40px;
        } 
     img{         
          width: 60%;
          padding: 30px 25px 15px 25px;
          @include respond(medium) {
               width: 40%;
               margin-right: 2.5%;
             }       
     } 
     .link{
       flex: 1;   
       a{
          margin-left: 20px;
          i{
               font-weight: bold;
               font-size: 22px;
          }
       }
       @include respond(large) {
          display: none;
        } 
     }
     .link_compensate{
          flex:1;
          @include respond(medium) {
               flex:0;
             } 
     }     

}

