.list{
     &__title{
          //pour eviter la  notif          
          max-width: 100%;
          margin-bottom: 25px;
          font-weight: 300;
          

     }     
     &__li{
          
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          //flex-grow: 0;

          border-radius: 15px 15px 15px 15px;

          //padding remplacé par des marg sur les element
          //padding: 15px 15px 15px 15px;
          margin-top:  15px;
          margin-bottom: 15px;

          background-color: white;

          font-weight: 300;         

          .bold{
               font-weight: bold;
          }

          &-element{
              
               display: flex;
               flex-direction: column;
               //tout sa jcp si sa sert
               //flex-basis: 0;
               //flex-shrink: 2;
               //flex: 1; peu peu etre servire marche pas 

               margin: 15px;

               h3{
                    display: inline-block;
                    margin-bottom: 5px;
                    
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
               }
               p{
                    display: inline-block;
                    
                    
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;                   
                   

               }
               
               
               
          }


     }

}