.list{
     &__title{
          //pour eviter la  notif
          font-weight: bold;
     }
     &__li{
          display: flex;
          align-items: flex-end;
          justify-content: space-between;

          border-radius: 15px 15px 15px 15px;

          //padding remplacé par des marg sur les element
          //padding: 15px 15px 15px 15px;
          margin-top:  15px;
          margin-bottom: 15px;

          background-color: white;

          font-weight: 300;
          h3{
               margin-bottom: 5px;
          }

          .bold{
               font-weight: bold;
          }
          &-element{
               margin: 15px;
          }


     }

}