.section{
     width: 100%;
     padding: 10px 20px 10px 20px;    
     display: flex;
     flex-direction: column;
     background-color: $grey;     
}
.section--research{
     width: 100%;
     
     margin-bottom: 30px;   
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: $grey;  
     text-align: center;  
     h2{
          padding: 45px 50px 10px 50px;
     }
     
     p{
          font-weight: 300;
          font-size: 20px;
          padding: 10px 25px 0 25px;
          i{
               font-size: 15px;
               margin-right: 20px;
          }
     }
     
     
}

.section--restaurant{
     width: 100%;
     padding: 40px 20px 60px 20px;    
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     background-color: $grey;  
     text-align: center; 
     h2{
          margin-bottom: 10px;
     }

}
//faudra reformé sans les classe masi jsut avec les selecteur
//faudra aussi le metre ailleur, surment en page components "list"
.list-container{
     padding: 10px 20px 10px 20px; 
     margin-bottom: 25px; 
     width: 100%;
}
//il faut que je repasse les bc et peu etre aussi les font weight sur les class?
.how-to{
     width: 100%;
     figcaption{
          font-weight: bold;
          margin-bottom: 15px;
          font-size: 22px;
     } 
     ol {counter-reset: steps;  /* on initialise et nomme un compteur */        
          display: flex ;
          flex-direction: column;
          justify-content: flex-start;    
          li {
               
               counter-increment: steps; /* on incrémente le compteur à chaque nouveau li */
              
               display: flex;
               flex-direction: row;
               align-items: center;

               height: 60px;

               border-radius: 15px 15px 15px 15px;

               padding: 10px 30px 10px 0;
               margin-top:  15px;
               margin-bottom: 15px;
               margin-left: 7.5px; /* sert a aligné l'élement before avec le titre de la list*/
          
               background-color: $grey;
               box-shadow: 2px 2px 4px darken($color: $grey, $amount: 10);

               font-size: 14px;
               font-weight: bold;
               

          i{
               color: lighten($color:$grey_dark, $amount: 25);
               margin-left: 10px;
               margin-right: 10px;
               font-size: 18px;
          }

          }
          li:before {              
               content: counter(steps); /* on affiche le compteur */
               display: flex;
               align-items: center;
               justify-content: center;

               height: 20px ;
               width: 20px;               
               margin-right: 8px;	
               margin-left: -7px;

               background: $primary-color;	
               border-radius: 10px;
               
               
               font-size: 12px;
               font-weight: 400;
               color: white;		
          }
          li:last-child{
               background: lighten($color: $primary-color, $amount: 35) ;
               i{
                    color: $primary-color;
                    
               }
          }
     } 
}

.menu{
     display: flex;
     //width: 100%;
     flex-direction: column;
     &-banner{
          width: 100%;
          &__img{
               width: 100%;
               object-fit: cover;
               
          }
     }
     &-body{

          position: relative; //sert a effectuer le recouvremetn d'image 
          top: -50px;         //

          padding: 30px 20px 50px 20px;

          border-radius: 40px 40px 0px 0px;

          //display: flex; pas sur que ce soit utile enfait
          //flex-direction: column; 

          background-color: $grey;

          &__title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 30px;
            font-size: 20px;
          }
          
          
     }
     
}